<div class="row">
  <%= render 'aside' %>
  <div class="col-md-8">
    <h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>メッセージを送る</h3>
    <%= form_for(@message, url: create_message_user_path(@user)) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :message, rows: '10' %>
        <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>