<div class="row">
    <div class="col-md-8 col-md-push-4">
        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>フォローしている人</h3>
        <% @users.each do |user| %>
            <div class="panel panel-default col-md-6">
            <div class="panel-body">
                <%= gravatar_for user %>
                <%= link_to user.name, user_path(user) %><br>
                <%= user.profile %>
            </div>
            </div>
        <% end %>
        <%= paginate @users %>
    </div>
    <%= render 'aside2' %>
</div>