<div class="row">
    <div class="col-md-8 col-md-push-4">
        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>フォローされている人</h3>
        <% @users.each do |user| %>
            <div class="panel panel-default col-md-6">
            <div class="panel-body">
                <% if user.image.present? %>
                    <%= image_tag user.image.url, alt: user.name %>
                <% else %>
                    <%= image_tag "no_image.jpg", alt: user.name %>
                <% end %>
                <%= link_to user.name, user_path(user) %><br>
                <%= user.profile %>
            </div>
            </div>
        <% end %>
        <%= paginate @users %>
    </div>
    <%= render 'aside2' %>
</div>