<div class="row">
  <div class="col-md-8 col-md-push-4">
      <h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>コメント一覧</h3>
        <% @for_user_comments.each do |comment| %>
        <div class="media">
            <% if comment.user.image.present? %>
                <div class="media-left">
                <%= image_tag comment.user.image.url, alt: comment.user.name, size: "50x50" %>
                </div>
            <% else %>
                <div class="media-left">
                <%= image_tag "no_image.jpg", alt: comment.user.name, size: "50x50"%>
                </div>
            <% end %>
            <div class="media-body">
                <h4 class="media-heading"><%= link_to comment.user.name, user_path(comment.user_id) %></h4>
                <%= comment.comment %><br>
                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                <%= link_to "このコメントがついたボイスへ", voice_path(comment.voice_id) %><br>
                <span class="timestamp"><%= comment.created_at %></span>
            </div>
        </div>
        <% end %>
        <%= paginate @for_user_comments %>
  </div>
  <%= render 'aside2' %>
</div>