<div class="row">
  <div class="col-md-8 col-md-push-4">
      <h3><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>スキと言っている人</h3>
        <% @posted_favorites.each do |favorite| %>
        <div class="media">
            <% if favorite.user.image.present? %>
                <div class="media-left">
                <%= image_tag favorite.user.image.url, alt: favorite.user.name, size: "50x50" %>
                </div>
            <% else %>
                <div class="media-left">
                <%= image_tag "no_image.jpg", alt: favorite.user.name, size: "50x50"%>
                </div>
            <% end %>
            <div class="media-body">
                <h4 class="media-heading"><%= link_to favorite.user.name, user_path(favorite.user_id) %></h4>
                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                <%= link_to favorite.voice.description, voice_path(favorite.voice_id) %><br>
                <span class="timestamp"><%= favorite.created_at %></span>
            </div>
        </div>
        <% end %>
        <%= paginate @posted_favorites %>
  </div>
  <%= render 'aside2' %>
</div>