<div class="row">
  <%= render 'aside' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.voices.any? %>
      <h3><%= @title %>(<%= @count %>)</h3>
      <ol class="voices">
        <%= render @voices %>
      </ol>
    <% end %>
  </div>
</div>