<li id="voice-<%= voice.id %>">
    <% if voice.user.image.present? %>
        <%= image_tag voice.user.image.url, alt: voice.user.name, size: "50x50" %>
    <% else %>
        <%= image_tag "no_image.jpg", alt: voice.user.name, size: "50x50" %>
    <% end %>
    <span class="user"><%= link_to voice.user.name, voice.user %></span>
    <span class="description"><% if voice.original_id.present? %>
                              <%= audio_tag(voice.original.file.url, controls: true) %>
                              <% else %>
                              <%= audio_tag(voice.file.url, controls: true) %>
                              <% end%>
                              </span>
    <span class="description"><%= render 'voices/already_share' if voice.original_id.present? %>
                              <%= link_to "#{voice.original.user.name}さんのボイス", voice_path(voice.original) if voice.original_id.present? %>
                              <%= voice.description %></span>
    <span class="icon-buttom"><span class="icon"><%= render 'voices/favorite_form', voice: voice %>
                       <%= render 'voices/share', voice: voice %></span>
                       <%= render 'voices/tag_list', tag_list: voice.tag_list %>
                       <%= link_to "コメントを見る", voice_path(voice.id), class: "btn btn-default btn-sm" %></span>
    <span class="timestamp">
        <%= time_ago_in_words(voice.created_at) %>前
        <% if current_user == voice.user %>
            <%= link_to "削除", voice, method: :delete,
                                         data: { confirm: "本当に削除しますか？" } %>
        <% end %>
    </span>
</li>