<div class="row">
    <div class="col-md-8 col-md-push-4">
        <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>ボイスを検索</h3>
        <%= search_form_for @q, url: search_path do |f| %>
            <%= f.search_field :description_cont %>
            <%= f.submit class: "btn btn-primary" %>
      　<% end %>
      　<% if @voices.present? %>
        <ol class="voices">
        <%= render @voices %>
        </ol>
        <%= paginate @voices %>
        <% else %>
        <div class="alert alert-danger" role="alert">該当するボイスはありません。</div>
        <% end %>
    </div>
    <aside class="col-md-4 col-md-pull-8">
        <section class="user_info">
            <%= render 'shared/user_info' %>
            <%= render 'shared/links' %>
        <section>
    </aside>
</div>