<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        <section>
    </aside>
    <div class="col-md-8">
        <h3><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>ボイス</h3>
        <ol class="voices">
            <%= render @voice %>
        </ol>
        <%= form_for(@comment, url: create_comment_voice_path(@voice)) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_area :comment, rows: '5' %>
            <%= f.submit "コメントをする", class: "btn btn-default" %>
        <% end %>
        <h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>コメント一覧</h3>
        <% @comments.each do |comment| %>
        <div class="media">
            <%= link_to gravatar_for(User.find(comment.user_id), size: 50), User.find(comment.user_id), class: "media-left" %>
            <div class="media-body">
                <h4 class="media-heading"><%= link_to User.find(comment.user_id).name, user_path(comment.user_id) %></h4>
                <%= comment.comment %><br>
                <span class="timestamp"><%= comment.created_at %></span>
            </div>
        </div>
        <% end %>
        <%= paginate @comments%>
    </div>
</div>